:root {
  --white: #ffffff;
  --divider-gray: #e9e9e7;
  --text-secondary: #83827F;
  --text-primary: #36352F;

  --highlight-idle: #E3E2E0;

  --highlight-progress: #FADEC9;
  --circle-progress: #D8833D;
  --text-progress: #4A280F;

  --highlight-complete: #DBEDDB;
  --circle-complete: #6C9B7D;
  --text-complete: #1D3829;

  --text-CTA: #2483E2;

  --color-border: var(--divider-gray);
  --color-heading: var(--text-primary);
}

/* Light theme specific variables */
.light {
  --color-background: #fff;
  --color-border: #e9e9e7;
  --color-heading: #36352F;
  --divider-gray: #e9e9e7;
  --text-primary: #36352F;
}

/* Dark theme specific variables */
.dark {
  --color-background: #333;
  background-color: var(--color-background); /* Directly applying it here to ensure it's set */
  --color-text: #ccc;
  --text-primary: #ffffff;
  --divider-gray: #424242;
  --color-heading: #ffffff;
}

@font-face {
  font-family: 'SF Pro';
  src: url(../assets/SF-Pro.ttf);
}

/* Global Styling */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-family: 'SF Pro', sans-serif; /* Fallback to sans-serif */
  letter-spacing: -.4px;
}

body {
  min-height: 100vh;
  color: var(--text-primary, #83827F); /* Fallback color */
  background-color: var(--color-background);
  border-color: var(--color-border);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, button, input, textarea {
  background-color: var(--color-background);
  color: var(--text-primary);
}

h1 {
  color: var(--text-primary);
  font-size: 32px;
  font-weight: 600;
  margin-top: 6px;
}
