@import './base.css';

h1 {
  color: var(--text-primary);
  font-family: 'Helvetica Neue';
  font-size: 32px;
  font-weight: bold;
  position: relative;
  margin-left: 4px;
}

th {
  color: var(--text-primary);
  font-family: 'Helvetica Neue';
  font-size: 16px;
  font-weight: 500;
  position: relative;
}

td {
  font-family: 'Helvetica Neue';
  font-weight: 500;
  font-size: 16px;
}

.idle {
  color: var(--text-idle);
  padding: 1.5px 4px 1.5px 4px;
  background-color: var(--highlight-idle);
  border-radius: 4px
}

.inProgress {
  color: var(--text-progress);
  padding: 1.5px 4px 1.5px 4px;
  background-color: var(--highlight-progress);
  border-radius: 4px
}

.complete {
  color: var(--text-complete);
  padding: 1.5px 4px 1.5px 4px;
  background-color: var(--highlight-complete);
  border-radius: 4px
}

li {
  display: inline;
}
